@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&display=swap');

// Colors
// **********************************

$c-black: #000;
$c-white: rgb(255, 255, 255);

// $c-button:$-cloudy;

// fonts 
// **********************************
$f-fontAwesome:'Font Awesome 5 free';
$f-fonstAwesomeBrands:'Font Awesome 5 Brands';
$f-baseFontFamily: 'Roboto', sans-serif;
$f-FredokaOne: 'Fredoka One';
$f-Arimo:'Arimo', sans-serif;

// breaks
// **********************************
$break-xxs: 320px;
$breaks-xs: 375px;
$break-mobile-s:425px;
$break-mobile: 595px;
$break-mid:744px;
$break-tablet:968px;
$break-laptop:1084px;
$break-laptopL:1200px;
$break-laptopXL:1420px;
$break-high:1582px;

// minimum device sizes
// **********************************

$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop:990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$columns:12;
$padding:15px;
$grid-md:768px;
$grid-lg:992px;
$grid-xl:1199px;

// Paddings, Margins
// **********************************
$space-xxx-small:2px;
$space-xm-small:8px;
$space-x-small:10px;
$space-small:15px;
$space-standar:20px;
$space-medium:30px;
$space-large:40px;
$space-x-large:50px;
$space-xx-large:80px;
$space-xxx-large:100px;


// Buttons
// **********************************

$button-small: 175px;
$button-medium:294px;
$button-large:375px;

