body, html {
    height: 100%;
}
.main-homepage-wrapper {
    justify-content: center;
    align-items: center;
    background: url(../../../../assets/homepage-background.jpg);
    background-size: cover;
    @include siteBackground();
    color: $c-white;
    min-height: 100vh;

    div {
        justify-content: center;
    }

    &__icon {
        font-size: 40px;
        text-shadow: $c-white 0.05em 0.05em 0.4em;
        font-weight: 300;
        font-family: $f-FredokaOne;
        padding:20px 0 0 20px;
    }
    &__heading {
        @include myFlex();
        margin: 0 0 30px 0;
        font-weight: 300;
        font-family: $f-FredokaOne;
    }
    &__about {
        @include myFlex();
        margin: 0 0 60px 0;
        background: radial-gradient(circle, rgba(124, 13, 117, 0.3169642857142857) 0%, rgba(47, 26, 73, 0) 65%);
    }

    &__categories {
        @include myFlex();
    }
}
