.main-quizList-wrapper {
    @include myFlex();
    flex-wrap: wrap;
}
.quiz-button_wrapper {
    background: linear-gradient(241deg, rgba(48,16,70,1) 0%, rgba(66,23,96,1) 62%, rgba(245,52,234,1) 100%);
    background-size: 360px;
    background-position:right;
    width: 65px;
    height: 150px;
    min-width: 175px;
    color: white;
    border-radius: 10px;
    margin: 0 5px 12px 5px;
    border: 2px solid#8e38e4cb;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: -1px 0px 19px -9px rgba(132,82,212,0.75);
    -webkit-box-shadow: -1px 0px 19px -9px rgba(132,82,212,0.75);
    -moz-box-shadow: -1px 0px 19px -9px rgba(132,82,212,0.75);
    &_line {
        background: purple;
        height: 5px;
        width: 140px;
    }
    div:nth-child(1) {
        margin-top: 25px;
    }
    div:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    div {
        margin-left: 10px;
    }
    &:hover {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        background-size: 500px;
        background-position:left;
    }
    img {
        height: 50px;
        width: 50px;
    }
}
