// T E C H N O L O G Y
// ******** BEFORE QUIZ *********
.main-technology-background {
    background: url(../../../../assets/technology_background.jpg);
    background-size: cover;
    @include siteBackground();
}
.technology-start-button-background {
    background: rgb(139, 32, 173);
    background: -moz-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b20ad",endColorstr="#1d021d",GradientType=1);
    background-size: 420px;
    background-position: left;
    border: 1px solid rgb(150, 121, 189);
    transition: all 0.3s all;
    &:hover {
        background-size: 420px;
        background-position: right;
    }
}
.pickCat_technology_background {
    background: radial-gradient(circle, rgba(124, 13, 117, 0.3169642857142857) 0%, rgba(47, 26, 73, 0) 65%);
}
.technology-category__start {
    background: url(../../../../assets/button_strzałka_plus.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-technology-background-quiz {
    background: url(../../../../assets/technologia_background2.jpg);
    background-size: cover;
    @include siteBackground();
}
.technology-task {
    background: radial-gradient(circle, rgba(124, 13, 117, 0.3169642857142857) 0%, rgba(47, 26, 73, 0) 65%);
}
.technology__currentTask {
    background: rgb(139, 32, 173);
    background: -moz-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b20ad",endColorstr="#1d021d",GradientType=1);
    background-size: 80px;
    background-position: center;
}
.technology-chooseAnswer {
    background: rgb(139, 32, 173);
    background: -moz-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b20ad",endColorstr="#1d021d",GradientType=1);
    background-size: 550px;
    background-position: left;
    border: 2px solid rgb(118, 71, 156);

    &:hover {
        background-size: 420px;
        background-position: right;
    }
    &:active {
        background-size: 420px;
        background-position: right;
    }
}
.answers-DropAnswer .technology-chooseAnswer {
    background-size: 420px;
    background-position: right;
}
.technology-DropAnswer {
    background-color: rgba(224, 221, 221, 0.171);
}
.answerTechnologyResultColor {
    img {
        background-color: rgb(56, 17, 82);
    }
}

// ************* RESULT ************

.technology-summary__decorationLine {
    background-color: rgb(161, 48, 161);
}
.technology-summary__scoreText {
    background: linear-gradient(90deg, rgba(224, 102, 207, 0) 10%, rgba(207, 67, 192, 0.2553396358543417) 100%);
}
.technology-summary__scoreNumber {
    background: rgb(139, 32, 173);
    background: -moz-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b20ad",endColorstr="#1d021d",GradientType=1);
    background-size: 600px;
    background-position: left;
}
.technology-summary-tryAgain {
    background: rgb(139, 32, 173);
    background: -moz-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b20ad",endColorstr="#1d021d",GradientType=1);
    background-size: 1200px;
    background-position: left;
    box-shadow: 0 0 0.3em rgb(245, 156, 245);
    border: 1px solid#9933ff88;
}
.technology-quizList_QuizBtn {
    background: rgb(139, 32, 173);
    background: -moz-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    background: linear-gradient(
        241deg,
        rgba(139, 32, 173, 1) 13%,
        rgba(110, 26, 128, 1) 32%,
        rgba(25, 15, 60, 1) 80%,
        rgba(29, 2, 29, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b20ad",endColorstr="#1d021d",GradientType=1);
    background-size: 180px;
    background-position: left;
    border: 2px solid#9933ff88;
    &:hover {
        background-size: 360px;
        background-position: right;
        transition: all 0.3s;
    }
}

// C U L T U R E
// ******** BEFORE QUIZ *********
.main-culture-background {
    background: url(../../../../assets/kultura_backgroundStart.jpg);
    background-size: cover;
    background-position: center;
    @include siteBackground();
}
.culture-start-button-background {
    background: linear-gradient(
        225deg,
        rgba(79, 79, 79, 1) 0%,
        rgba(126, 124, 125, 1) 52%,
        rgba(180, 180, 180, 1) 100%
    );
    background-size: 500px;
    background-position: right;
    border: 1px solid rgb(56, 55, 56);
    &:hover {
        background-size: 300px;
        background-position: left;
    }
}
.pickCat_culture_background {
    background: linear-gradient(
        90deg,
        rgba(196, 196, 196, 0) 14%,
        rgba(43, 43, 41, 0.1516981792717087) 50%,
        rgba(196, 196, 196, 0) 86%
    );
}
.culture-category__start {
    background: url(../../../../assets/culture_button-strzalka.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-culture-background1-quiz {
    background: url(../../../../assets/culture_background.jpg);
    background-size: cover;
    @include siteBackground();
}
.main-culture-background2-quiz {
    background: url(../../../../assets/culture_background2.jpg);
    background-size: cover;
    @include siteBackground();
}

.culture-task {
    background: linear-gradient(
        90deg,
        rgba(196, 196, 196, 0) 14%,
        rgba(43, 43, 41, 0.1516981792717087) 50%,
        rgba(196, 196, 196, 0) 86%
    );
}
.culture__currentTask {
    background: url(../../../../assets/culture_pole-pytania.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color: rgb(24, 21, 21);
        text-shadow: 0 0 3px rgb(44, 41, 44), 0 0 5px rgb(156, 154, 156);
    }
}
.culture-chooseAnswer {
    background: linear-gradient(
        225deg,
        rgba(79, 79, 79, 1) 0%,
        rgba(126, 124, 125, 1) 52%,
        rgba(180, 180, 180, 1) 100%
    );
    background-size: 500px;
    background-position: right;
    border: 2px solid rgb(95, 93, 95);

    &:hover {
        background-size: 320px;
        background-position: left;
        cursor: pointer;
    }
    &:active {
        background-size: 320px;
        background-position: left;
    }
}
.culture-DropAnswer .culture-chooseAnswer {
    background-size: 320px;
    background-position: left;
}
.culture-DropAnswer {
    background-color: rgba(148, 147, 140, 0.377);
}
.answerCultureResultColor {
    img {
        background-color: rgba(46, 45, 46, 0.315);
    }
}

// ************* RESULT ************

.culture-summary__decorationLine {
    background-color: rgb(65, 64, 64);
}
.culture-summary__scoreText {
    background: linear-gradient(90deg, rgba(221, 221, 221, 0) 10%, rgba(179, 176, 178, 0.2553396358543417) 100%);
}
.culture-summary__scoreNumber {
    background: linear-gradient(
        225deg,
        rgba(79, 79, 79, 1) 0%,
        rgba(126, 124, 125, 1) 52%,
        rgba(180, 180, 180, 1) 100%
    );
    background-size: 500px;
    background-position: left;
}
.culture-summary-tryAgain {
    background: linear-gradient(
        225deg,
        rgba(79, 79, 79, 1) 0%,
        rgba(126, 124, 125, 1) 52%,
        rgba(180, 180, 180, 1) 100%
    );
    background-size: 500px;
    background-position: right;
    box-shadow: 0 0 0.5em rgb(95, 94, 95);
    border: 1px solid rgb(90, 88, 89);
}
.culture-quizList_QuizBtn {
    background: linear-gradient(
        225deg,
        rgba(79, 79, 79, 1) 0%,
        rgba(126, 124, 125, 1) 52%,
        rgba(180, 180, 180, 1) 100%
    );
    background-size: 500px;
    background-position: left;
    border: 2px solid rgb(61, 60, 61);
    &:hover {
        background-size: 500px;
        background-position: right;
        transition: all 0.3s;
    }
}

// A U T O M O T I V E
// ******** BEFORE QUIZ *********
.main-automotive-background {
    background: url(../../../../assets/automotive_background.jpg);
    background-size: cover;
    @include siteBackground();
}
.pickCat_automotive_background {
    background: linear-gradient(
        90deg,
        rgba(103, 107, 128, 0) 9%,
        rgba(45, 81, 235, 0.9023984593837535) 50%,
        rgba(103, 107, 128, 0) 91%
    );
}
.automotive-start-button-background {
    background: linear-gradient(
        306deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(17, 17, 166, 1) 58%,
        rgba(3, 58, 186, 1) 81%,
        rgba(0, 77, 255, 1) 100%
    );
    border: 1px solid rgb(156, 144, 172);
    background-size: 420px;
    background-position: right;
    &:hover {
        background-size: 720px;
        background-position: left;
    }
}
.automotive-category__start {
    background: url(../../../../assets/motoryzacja-start.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-automotive-background1-quiz {
    background: url(../../../../assets/motoryzacja_background3.jpg);
    background-size: cover;
    @include siteBackground();
}
.main-automotive-background2-quiz {
    background: url(../../../../assets/motoryzacja_background2.jpg);
    background-size: cover;
    @include siteBackground();
}

.automotive-task {
    background: linear-gradient(
        90deg,
        rgba(103, 107, 128, 0) 9%,
        rgba(45, 81, 235, 0.9023984593837535) 50%,
        rgba(103, 107, 128, 0) 91%
    );
}
.automotive__currentTask {
    background: url(../../../../assets/automotive_pole-pytania.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color: plum;
        text-shadow: 0 0 3px rgb(202, 2, 202), 0 0 5px plum;
    }
}
.automotive-chooseAnswer {
    background: linear-gradient(
        306deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(17, 17, 166, 1) 58%,
        rgba(3, 58, 186, 1) 81%,
        rgba(0, 77, 255, 1) 100%
    );
    border: 2px solid rgba(71, 132, 247, 0.692);
    background-size: 420px;
    background-position: right;
    cursor: pointer;

    &:hover {
        background-size: 720px;
        background-position: left;
    }
    &:active {
        background-size: 720px;
        background-position: left;
    }
}
.answers-DropAnswer .automotive-chooseAnswer {
    background-size: 720px;
    background-position: left;
}
.automotive-DropAnswer {
    background-color: rgba(101, 112, 163, 0.363);
}
.answerAutomotiveResultColor {
    img {
        background-color: rgba(39, 28, 190, 0.315);
    }
}

// ************* RESULT ************

.automotive-summary__decorationLine {
    background-color: rgb(111, 113, 231);
}
.automotive-summary__scoreText {
    background: linear-gradient(90deg, rgba(82, 101, 238, 0) 10%, rgba(32, 50, 238, 0.5466561624649859) 100%);
}
.automotive-summary__scoreNumber {
    background: url(../../../../assets/automotive_pole-pytania.png);
}
.automotive-summary-tryAgain {
    background: url(../../../../assets/automotive_button.png) center no-repeat;
    box-shadow: 0 0 0.3em rgb(78, 78, 78);
    border: 1px solid rgba(71, 132, 247, 0.692);
}
.automotive-quizList_QuizBtn {
    background: linear-gradient(
        306deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(17, 17, 166, 1) 58%,
        rgba(3, 58, 186, 1) 81%,
        rgba(0, 77, 255, 1) 100%
    );
    border: 2px solid rgba(71, 132, 247, 0.692);
    background-size: 420px;
    background-position: right;
    transition: all 0.3s;
    &:hover {
        background-size: 720px;
        background-position: left;
        transition: all 0.3s;
    }
}
// P R O G R A M O W A N I E
// ******** BEFORE QUIZ *********
.main-programming-background {
    background: url(../../../../assets/programowanie_background.jpg);
    background-size: cover;
    background-position: center;
    @include siteBackground();
}
.programming-start-button-background {
    background: rgb(48, 16, 70);
    background: -moz-linear-gradient(
        241deg,
        rgba(48, 16, 70, 1) 0%,
        rgba(66, 23, 96, 1) 62%,
        rgba(245, 52, 234, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(48, 16, 70, 1) 0%,
        rgba(66, 23, 96, 1) 62%,
        rgba(245, 52, 234, 1) 100%
    );
    background: linear-gradient(241deg, rgba(48, 16, 70, 1) 0%, rgba(66, 23, 96, 1) 62%, rgba(245, 52, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301046",endColorstr="#f534ea",GradientType=1);
    background-size: 390px;
    background-position: right;
    border: 1px solid plum;
    &:hover {
        background-size: 600px;
        background-position: left;
    }
}
.pickCat_programming_background {
    background: linear-gradient(
        90deg,
        rgba(153, 90, 149, 0) 14%,
        rgba(140, 45, 235, 0.1516981792717087) 50%,
        rgba(153, 90, 149, 0) 86%
    );
}
.programming-category__start {
    background: url(../../../../assets/button_strzałka_plus.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-programming-background1-quiz {
    background: url(../../../../assets/programowanie_background3.jpg);
    background-size: cover;
    @include siteBackground();
}
.main-programming-background2-quiz {
    background: url(../../../../assets/programowanie_background2.jpg);
    background-size: cover;
    @include siteBackground();
}

.programming-task {
    background: linear-gradient(
        90deg,
        rgba(153, 90, 149, 0) 14%,
        rgba(140, 45, 235, 0.1516981792717087) 50%,
        rgba(153, 90, 149, 0) 86%
    );
}
.programming__currentTask {
    background: url(../../../../assets/programowanie_pole_pytania_.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color: plum;
        text-shadow: 0 0 3px rgb(202, 2, 202), 0 0 5px plum;
    }
}
.programming-chooseAnswer {
    background: rgb(48, 16, 70);
    background: -moz-linear-gradient(
        241deg,
        rgba(48, 16, 70, 1) 0%,
        rgba(66, 23, 96, 1) 62%,
        rgba(245, 52, 234, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(48, 16, 70, 1) 0%,
        rgba(66, 23, 96, 1) 62%,
        rgba(245, 52, 234, 1) 100%
    );
    background: linear-gradient(241deg, rgba(48, 16, 70, 1) 0%, rgba(66, 23, 96, 1) 62%, rgba(245, 52, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301046",endColorstr="#f534ea",GradientType=1);
    border: 2px solid rgb(156, 106, 156);
    background-size: 460px;
    background-position: right;

    &:hover {
        background-size: 900px;
        background-position: left;
    }
    &:active {
        background-size: 900px;
        background-position: left;
    }
}
.programming-DropAnswer .programming-chooseAnswer {
    background-size: 900px;
    background-position: left;
}
.programming-DropAnswer {
    background-color: rgba(101, 112, 163, 0.363);
}
.answerProgrammingResultColor {
    img {
        background-color: rgba(228, 27, 144, 0.315);
    }
}

// ************* RESULT ************

.programming-summary__decorationLine {
    background-color: rgb(161, 43, 122);
}
.programming-summary__scoreText {
    background: linear-gradient(90deg, rgba(211, 124, 235, 0) 16%, rgba(179, 66, 213, 0.2189250700280112) 100%);
}
.programming-summary__scoreNumber {
    background: url(../../../../assets/programowanie_pole_pytania_.png);
}
.programming-summary-tryAgain {
    background: linear-gradient(193deg, rgba(48, 16, 70, 1) 0%, rgba(66, 23, 96, 1) 52%, rgba(150, 43, 179, 1) 100%);
    background-size: 360px;
    background-position: right;
    box-shadow: 0 0 0.5em rgb(161, 43, 122);
    border: 1px solid rgb(161, 43, 122);
}
.programming-quizList_QuizBtn {
    background: rgb(48, 16, 70);
    background: -moz-linear-gradient(
        241deg,
        rgba(48, 16, 70, 1) 0%,
        rgba(66, 23, 96, 1) 62%,
        rgba(245, 52, 234, 1) 100%
    );
    background: -webkit-linear-gradient(
        241deg,
        rgba(48, 16, 70, 1) 0%,
        rgba(66, 23, 96, 1) 62%,
        rgba(245, 52, 234, 1) 100%
    );
    background: linear-gradient(241deg, rgba(48, 16, 70, 1) 0%, rgba(66, 23, 96, 1) 62%, rgba(245, 52, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#301046",endColorstr="#f534ea",GradientType=1);
    background-size: 220px;
    background-position: right;
    border: 2px solid rgb(161, 43, 122);
    transition: all 0.3s;
    &:hover {
        background-size: 400px;
        background-position: left;
        transition: all 0.3s;
    }
}
// H I S T O R I A
// ******** BEFORE QUIZ *********
.main-history-background {
    background: url(../../../../assets/historia_background.jpg);
    background-size: cover;
    background-position: center;
    @include siteBackground();
}
.history-start-button-background {
    background: linear-gradient(63deg, rgba(23, 23, 23, 1) 0%, rgba(144, 127, 108, 1) 62%, rgba(187, 155, 122, 1) 100%);
    background-position: left;
    background-size: 360px;
    border: 1px solid rgb(56, 55, 56);
    &:hover {
        background-position: right;
        background-size: 360px;
    }
}
.pickCat_history_background {
    background: linear-gradient(
        90deg,
        rgba(191, 184, 165, 0) 14%,
        rgba(154, 156, 97, 0.1516981792717087) 50%,
        rgba(191, 184, 165, 0) 86%
    );
}
.history-category__start {
    background: url(../../../../assets/historia-start-button.png);
    background-size: cover;
}
// *********** QUIZ ***********
.main-history-background1-quiz {
    background: url(../../../../assets/historia_backgroundSEL.jpg);
    background-size: cover;
    @include siteBackground();
}
.main-history-background2-quiz {
    background: url(../../../../assets/historia_backgroundDND.jpg);
    background-size: cover;
    @include siteBackground();
}

.history-task {
    background: linear-gradient(
        90deg,
        rgba(191, 184, 165, 0) 14%,
        rgba(154, 156, 97, 0.1516981792717087) 50%,
        rgba(191, 184, 165, 0) 86%
    );
}
.history__currentTask {
    background: url(../../../../assets/historia-pole-pytania.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    span:nth-child(2) {
        color: rgb(24, 21, 21);
        text-shadow: 0 0 3px rgb(44, 41, 44), 0 0 5px rgb(156, 154, 156);
    }
}
.history-chooseAnswer {
    background: linear-gradient(63deg, rgba(23, 23, 23, 1) 0%, rgba(144, 127, 108, 1) 62%, rgba(187, 155, 122, 1) 100%);
    background-position: left;
    background-size: 600px;
    border: 2px solid rgb(95, 93, 95);
    cursor: pointer;

    &:hover {
        background-position: right;
        background-size: 500px;
    }
    &:active {
        background-position: right;
        background-size: 500px;
    }
}
.history-DropAnswer .history-chooseAnswer {
    background-position: right;
    background-size: 500px;
}
.history-DropAnswer {
    background-color: rgba(172, 171, 153, 0.377);
}
.answerHistoryResultColor {
    img {
        background-color: rgba(46, 45, 46, 0.315);
    }
}

// ************* RESULT ************

.history-summary__decorationLine {
    background-color: rgb(65, 64, 64);
}
.history-summary__scoreText {
    background: linear-gradient(90deg, rgba(78, 78, 78, 0) 10%, rgba(215, 183, 112, 0.2553396358543417) 100%);
}
.history-summary__scoreNumber {
    background: linear-gradient(63deg, rgba(23, 23, 23, 1) 0%, rgba(144, 127, 108, 1) 62%, rgba(187, 155, 122, 1) 100%);
    background-position: left;
    background-size: 200px;
}
.history-summary-tryAgain {
    background: linear-gradient(63deg, rgba(23, 23, 23, 1) 0%, rgba(144, 127, 108, 1) 62%, rgba(187, 155, 122, 1) 100%);
    background-position: left;
    background-size: 100px;
    box-shadow: 0 0 0.5em rgb(95, 94, 95);
    border: 1px solid rgb(90, 88, 89);
}
.history-quizList_QuizBtn {
    background: linear-gradient(63deg, rgba(23, 23, 23, 1) 0%, rgba(144, 127, 108, 1) 62%, rgba(187, 155, 122, 1) 100%);
    background-position: left;
    background-size: 200px;
    border: 2px solid rgb(61, 60, 61);
    &:hover {
        background-position: right;
        background-size: 200px;
        transition: all 0.3s;
    }
}
